TestDjango/testEnv
TestDjango/testProject/.idea
TestDjango/testProject/polls/__pycache__
TestDjango/testProject/polls/migrations/__pycache__
TestDjango/testProject/polls/tests/__pycache__
TestDjango/testProject/testProject/__pycache__
projectEnv
