{% extends 'book/base_site.html' %}
{% load static %}

{#{% block head_links %}#}
{#    <link rel="stylesheet" href={% static 'book/index.css' %}>#}
{#{% endblock %}#}

{% block title %}WSU Bookstore{% endblock %}

{% block do_body %}
{#    <div id = "homehero">#}
{#    </div>#}
    <main>
        <h2>Get ready for the semester now!</h2>
        <p> <span class = "book">Welcome to the Wayne State University Bookstore!<br></span> Browse through our wide ranged inventory of Textbooks, Novels, Magazines, and more. We keep track of all of your payments and refunds so you do not have to! </p>
        <ul>
            <li>Easy to navigate inventory with intricate details.</li>
            <li>A broad section of titles for adults and kids.</li>
            <li>Dine at our indoor cafe and Starbucks.</li>
            <li>Show warrior pride with our wide range of spirit wear.</li>
        </ul>

    </main>
{% endblock %}


